
#FontSpace {
  font-size: 3rem;
}

.Montserrat {
  font-family: 'Montserrat';
}

.Futura {
  font-family: 'Futura';
}

.Gotham {
  font-family: 'Gotham';
}

.Homestead {
  font-family: 'Homestead';
}

.Lobster {
  font-family: 'Lobster';
}

.Ostrich {
  font-family: 'Ostrich';
}
