
footer {
  color: #fff;
}

.Copyright {
  text-align: center;
}

.icons {
  display: inline-block;
  > li {
    display: block;
    float: left;
    font-size: 2rem;
    margin: 0.5rem;
    > a {
      color: #fff;
      transition: all 0.5s ease;
    }
    > a:hover {
      color: #FCB816;
    }
  }
}
