.nav {
  background-color: "white";
  border-bottom: "1px solid black";
}
.nav > img {
  height: "28px";
  margin: auto 1em;
}

h1 {
  font-family: 'Homestead';
  color: #1A3D6D !important;
  font-size: 3rem !important;
}
