

#NewsCTA {
  text-align: center;
  height: auto;
  background-image: url("/images/dark-bl.svg"), url("/images/dark-br.svg");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 25rem, 25rem;
}
