@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/montserrat-regular.ttf");
}

@font-face {
  font-family: 'Futura';
  src: url("/fonts/futura-medium.ttf");
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/gotham-medium.ttf");
}

@font-face {
  font-family: 'Homestead';
  src: url("/fonts/homestead.ttf");
}

@font-face {
  font-family: 'Lobster';
  src: url("/fonts/lobster.otf");
}

@font-face {
  font-family: 'Ostrich';
  src: url("/fonts/ostrich-regular.ttf");
}
